#map {
  height: 80vh;
  width: 100%;
 }

#options {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.win {
  color: blue;
  text-decoration: underline;
}

.lose {
  color: red;
  text-decoration: line-through;
}

button {
  font-size: 1vw;
  background: navajowhite;
  border:none;
  margin: 0.5vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-right: solid Gainsboro .1vw;
  border-right: solid Gainsboro .1vw;
  border-bottom: solid Gainsboro .1vw;
}

button:hover {
  background: moccasin;
  vertical-align: -0.1vw;
  margin-left: 0.55vw;
  margin-right: 0.6065vw;
  border-right: none;
  border-bottom: none;
  font-size: 0.99vw
}
