#map {
  height: 80vh;
  width: 100%;
 }

#options {
  height: 20vh;
  width: 100%;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-rows: 7vh;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(max-content,100%) [col-end]);
}
 
.win {
  color: blue;
  text-decoration: underline;
}

.lose {
  color: red;
  text-decoration: line-through;
}

button {
  font-size: 14pt;
  background: navajowhite;
  border:none;
  margin: 1em;
  width: max-content;
  padding: 10 20 10 20;
  height: fit-content;
  border-right: solid Gainsboro .5pt;
  border-bottom: solid Gainsboro .5pt;
}

button:hover {
  background: moccasin;
  margin-left: 1.15em;
  margin-right: 1.05em;
  border-right: none;
  border-bottom: none;
  font-size: 13.9pt;
}
